.Keyboard {
    background-color: rgb(243, 233, 233);
    text-align: center;
  }
  
  .Keyboard-logo {
    height: 80px;
  }
  
  .Keyboard-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Keyboard-title {
    font-size: 1.5em;
  }
  
  .Keyboard-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }